@charset "UTF-8";
/* Google Fonts */
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 変数 */
/* カラー */
/* 関数 */
/* アニメーション設定 */
.scr-target {
  opacity: 0;
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
}

.scr-target.is-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: 2s;
  transition: 2s;
}

/* スタイル */
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #030508;
  font-family: "Noto Serif JP", serif, "MS P明朝", "ヒラギノ明朝";
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 15px;
  }
}

a {
  text-decoration: none;
  color: #030508;
}

#main {
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  #main {
    display: block;
  }
}

.j-lead {
  position: relative;
}

.j-lead .j-row, .j-lead .j-message .j-row-middle, .j-message .j-lead .j-row-middle, .j-lead .j-message .j-width-down, .j-message .j-lead .j-width-down, .j-lead .j-message .j-me-main-down, .j-message .j-lead .j-me-main-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
}

@media screen and (max-width: 500px) {
  .j-lead .j-row, .j-lead .j-message .j-row-middle, .j-message .j-lead .j-row-middle, .j-lead .j-message .j-width-down, .j-message .j-lead .j-width-down, .j-lead .j-message .j-me-main-down, .j-message .j-lead .j-me-main-down {
    display: block;
  }
}

.j-lead .j-row .j-width-left, .j-lead .j-message .j-row-middle .j-width-left, .j-message .j-lead .j-row-middle .j-width-left, .j-lead .j-message .j-width-down .j-width-left, .j-message .j-lead .j-width-down .j-width-left, .j-lead .j-message .j-me-main-down .j-width-left, .j-message .j-lead .j-me-main-down .j-width-left {
  width: 37%;
  margin: 3rem 5rem 0 5rem;
}

@media screen and (max-width: 500px) {
  .j-lead .j-row .j-width-left, .j-lead .j-message .j-row-middle .j-width-left, .j-message .j-lead .j-row-middle .j-width-left, .j-lead .j-message .j-width-down .j-width-left, .j-message .j-lead .j-width-down .j-width-left, .j-lead .j-message .j-me-main-down .j-width-left, .j-message .j-lead .j-me-main-down .j-width-left {
    width: 100%;
    margin: 0;
  }
}

.j-lead .j-row .j-width-left .logo, .j-lead .j-message .j-row-middle .j-width-left .logo, .j-message .j-lead .j-row-middle .j-width-left .logo, .j-lead .j-message .j-width-down .j-width-left .logo, .j-message .j-lead .j-width-down .j-width-left .logo, .j-lead .j-message .j-me-main-down .j-width-left .logo, .j-message .j-lead .j-me-main-down .j-width-left .logo {
  width: 12.6rem;
  height: auto;
  margin: 0 0 5.7rem;
}

@media screen and (max-width: 500px) {
  .j-lead .j-row .j-width-left .logo, .j-lead .j-message .j-row-middle .j-width-left .logo, .j-message .j-lead .j-row-middle .j-width-left .logo, .j-lead .j-message .j-width-down .j-width-left .logo, .j-message .j-lead .j-width-down .j-width-left .logo, .j-lead .j-message .j-me-main-down .j-width-left .logo, .j-message .j-lead .j-me-main-down .j-width-left .logo {
    width: 10rem;
    margin: 2rem 0 4rem 2rem;
  }
}

.j-lead .j-row .j-width-left h3, .j-lead .j-message .j-row-middle .j-width-left h3, .j-message .j-lead .j-row-middle .j-width-left h3, .j-lead .j-message .j-width-down .j-width-left h3, .j-message .j-lead .j-width-down .j-width-left h3, .j-lead .j-message .j-me-main-down .j-width-left h3, .j-message .j-lead .j-me-main-down .j-width-left h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem 0 2rem;
}

@media screen and (max-width: 500px) {
  .j-lead .j-row .j-width-left h3, .j-lead .j-message .j-row-middle .j-width-left h3, .j-message .j-lead .j-row-middle .j-width-left h3, .j-lead .j-message .j-width-down .j-width-left h3, .j-message .j-lead .j-width-down .j-width-left h3, .j-lead .j-message .j-me-main-down .j-width-left h3, .j-message .j-lead .j-me-main-down .j-width-left h3 {
    float: right;
    margin: 8.6rem 3rem 0 0;
  }
}

.j-lead .j-row .j-width-left h1, .j-lead .j-message .j-row-middle .j-width-left h1, .j-message .j-lead .j-row-middle .j-width-left h1, .j-lead .j-message .j-width-down .j-width-left h1, .j-message .j-lead .j-width-down .j-width-left h1, .j-lead .j-message .j-me-main-down .j-width-left h1, .j-message .j-lead .j-me-main-down .j-width-left h1 {
  font-size: 3.4rem;
  font-weight: 300;
  margin: 0 0 3rem;
  line-height: 1.5;
}

@media screen and (max-width: 500px) {
  .j-lead .j-row .j-width-left h1, .j-lead .j-message .j-row-middle .j-width-left h1, .j-message .j-lead .j-row-middle .j-width-left h1, .j-lead .j-message .j-width-down .j-width-left h1, .j-message .j-lead .j-width-down .j-width-left h1, .j-lead .j-message .j-me-main-down .j-width-left h1, .j-message .j-lead .j-me-main-down .j-width-left h1 {
    font-size: 2.8rem;
    font-weight: 300;
    margin: 2.8rem auto 1rem;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
}

.j-lead .j-row .j-width-left .bus, .j-lead .j-message .j-row-middle .j-width-left .bus, .j-message .j-lead .j-row-middle .j-width-left .bus, .j-lead .j-message .j-width-down .j-width-left .bus, .j-message .j-lead .j-width-down .j-width-left .bus, .j-lead .j-message .j-me-main-down .j-width-left .bus, .j-message .j-lead .j-me-main-down .j-width-left .bus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .j-lead .j-row .j-width-left .bus, .j-lead .j-message .j-row-middle .j-width-left .bus, .j-message .j-lead .j-row-middle .j-width-left .bus, .j-lead .j-message .j-width-down .j-width-left .bus, .j-message .j-lead .j-width-down .j-width-left .bus, .j-lead .j-message .j-me-main-down .j-width-left .bus, .j-message .j-lead .j-me-main-down .j-width-left .bus {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 26rem;
    margin: 1.5rem auto 0;
  }
}

.j-lead .j-row .j-width-left .bus p, .j-lead .j-message .j-row-middle .j-width-left .bus p, .j-message .j-lead .j-row-middle .j-width-left .bus p, .j-lead .j-message .j-width-down .j-width-left .bus p, .j-message .j-lead .j-width-down .j-width-left .bus p, .j-lead .j-message .j-me-main-down .j-width-left .bus p, .j-message .j-lead .j-me-main-down .j-width-left .bus p {
  padding: 1.8rem 0 0;
  border-top: 1px solid #030508;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .j-lead .j-row .j-width-left .bus p, .j-lead .j-message .j-row-middle .j-width-left .bus p, .j-message .j-lead .j-row-middle .j-width-left .bus p, .j-lead .j-message .j-width-down .j-width-left .bus p, .j-message .j-lead .j-width-down .j-width-left .bus p, .j-lead .j-message .j-me-main-down .j-width-left .bus p, .j-message .j-lead .j-me-main-down .j-width-left .bus p {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 3rem 0 0;
    text-align: center;
  }
}

.j-lead .j-row .j-width-left .bus img, .j-lead .j-message .j-row-middle .j-width-left .bus img, .j-message .j-lead .j-row-middle .j-width-left .bus img, .j-lead .j-message .j-width-down .j-width-left .bus img, .j-message .j-lead .j-width-down .j-width-left .bus img, .j-lead .j-message .j-me-main-down .j-width-left .bus img, .j-message .j-lead .j-me-main-down .j-width-left .bus img {
  position: relative;
  top: none;
  right: 0;
  bottom: 4rem;
  left: 0.5rem;
  width: 18rem;
}

@media screen and (max-width: 500px) {
  .j-lead .j-row .j-width-left .bus img, .j-lead .j-message .j-row-middle .j-width-left .bus img, .j-message .j-lead .j-row-middle .j-width-left .bus img, .j-lead .j-message .j-width-down .j-width-left .bus img, .j-message .j-lead .j-width-down .j-width-left .bus img, .j-lead .j-message .j-me-main-down .j-width-left .bus img, .j-message .j-lead .j-me-main-down .j-width-left .bus img {
    width: 12.5rem;
    position: absolute;
    top: none;
    right: none;
    bottom: 3rem;
    left: 15rem;
  }
}

.j-lead .j-row .j-width-left .bus span, .j-lead .j-message .j-row-middle .j-width-left .bus span, .j-message .j-lead .j-row-middle .j-width-left .bus span, .j-lead .j-message .j-width-down .j-width-left .bus span, .j-message .j-lead .j-width-down .j-width-left .bus span, .j-lead .j-message .j-me-main-down .j-width-left .bus span, .j-message .j-lead .j-me-main-down .j-width-left .bus span {
  width: 20%;
  display: block;
  border-top: 1px solid #030508;
}

@media screen and (max-width: 500px) {
  .j-lead .j-row .j-width-left .bus span, .j-lead .j-message .j-row-middle .j-width-left .bus span, .j-message .j-lead .j-row-middle .j-width-left .bus span, .j-lead .j-message .j-width-down .j-width-left .bus span, .j-message .j-lead .j-width-down .j-width-left .bus span, .j-lead .j-message .j-me-main-down .j-width-left .bus span, .j-message .j-lead .j-me-main-down .j-width-left .bus span {
    display: none;
  }
}

.j-lead .j-row .j-width-left .j-btn, .j-lead .j-message .j-row-middle .j-width-left .j-btn, .j-message .j-lead .j-row-middle .j-width-left .j-btn, .j-lead .j-message .j-width-down .j-width-left .j-btn, .j-message .j-lead .j-width-down .j-width-left .j-btn, .j-lead .j-message .j-me-main-down .j-width-left .j-btn, .j-message .j-lead .j-me-main-down .j-width-left .j-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  bottom: 5rem;
}

@media screen and (max-width: 500px) {
  .j-lead .j-row .j-width-left .j-btn, .j-lead .j-message .j-row-middle .j-width-left .j-btn, .j-message .j-lead .j-row-middle .j-width-left .j-btn, .j-lead .j-message .j-width-down .j-width-left .j-btn, .j-message .j-lead .j-width-down .j-width-left .j-btn, .j-lead .j-message .j-me-main-down .j-width-left .j-btn, .j-message .j-lead .j-me-main-down .j-width-left .j-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    bottom: 3rem;
  }
}

.j-lead .j-row .j-width-left .j-btn p, .j-lead .j-message .j-row-middle .j-width-left .j-btn p, .j-message .j-lead .j-row-middle .j-width-left .j-btn p, .j-lead .j-message .j-width-down .j-width-left .j-btn p, .j-message .j-lead .j-width-down .j-width-left .j-btn p, .j-lead .j-message .j-me-main-down .j-width-left .j-btn p, .j-message .j-lead .j-me-main-down .j-width-left .j-btn p {
  font-size: 1.6rem;
  font-weight: 400;
  border: 1px solid #030508;
  padding: 1.4rem 0;
  margin: 0 2rem 0 0;
  width: 17.6rem;
  border-radius: 3rem;
  text-align: center;
}

.j-lead .j-row .j-width-right, .j-lead .j-message .j-row-middle .j-width-right, .j-message .j-lead .j-row-middle .j-width-right, .j-lead .j-message .j-width-down .j-width-right, .j-message .j-lead .j-width-down .j-width-right, .j-lead .j-message .j-me-main-down .j-width-right, .j-message .j-lead .j-me-main-down .j-width-right {
  width: 63%;
  height: 53rem;
}

@media screen and (max-width: 500px) {
  .j-lead .j-row .j-width-right, .j-lead .j-message .j-row-middle .j-width-right, .j-message .j-lead .j-row-middle .j-width-right, .j-lead .j-message .j-width-down .j-width-right, .j-message .j-lead .j-width-down .j-width-right, .j-lead .j-message .j-me-main-down .j-width-right, .j-message .j-lead .j-me-main-down .j-width-right {
    width: 100%;
    height: 28rem;
  }
}

.j-lead .j-row .j-width-right img, .j-lead .j-message .j-row-middle .j-width-right img, .j-message .j-lead .j-row-middle .j-width-right img, .j-lead .j-message .j-width-down .j-width-right img, .j-message .j-lead .j-width-down .j-width-right img, .j-lead .j-message .j-me-main-down .j-width-right img, .j-message .j-lead .j-me-main-down .j-width-right img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 500px) {
  .j-lead .j-row .j-width-right img, .j-lead .j-message .j-row-middle .j-width-right img, .j-message .j-lead .j-row-middle .j-width-right img, .j-lead .j-message .j-width-down .j-width-right img, .j-message .j-lead .j-width-down .j-width-right img, .j-lead .j-message .j-me-main-down .j-width-right img, .j-message .j-lead .j-me-main-down .j-width-right img {
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .j-lead .j-btn {
    width: 100%;
    margin: 4rem auto 8rem;
  }
}

@media screen and (max-width: 500px) {
  .j-lead .j-btn p {
    border: 1px solid #030508;
    border-radius: 3rem;
    padding: 1.5rem 0 1.6rem;
    margin: 0 auto 2.3rem;
    width: 21rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
  }
}

/* j-message */
.j-message .j-row, .j-message .j-row-middle, .j-message .j-width-down, .j-message .j-me-main-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8rem 0 0;
}

@media screen and (max-width: 500px) {
  .j-message .j-row, .j-message .j-row-middle, .j-message .j-width-down, .j-message .j-me-main-down {
    display: block;
    margin: 6rem 0 0;
  }
}

.j-message .j-row .j-width-left, .j-message .j-row-middle .j-width-left, .j-message .j-width-down .j-width-left, .j-message .j-me-main-down .j-width-left {
  width: 63rem;
  margin: 0 7rem 0 0;
}

@media screen and (max-width: 500px) {
  .j-message .j-row .j-width-left, .j-message .j-row-middle .j-width-left, .j-message .j-width-down .j-width-left, .j-message .j-me-main-down .j-width-left {
    width: 100%;
    height: 20rem;
    margin: 0 auto 5rem;
  }
}

.j-message .j-row .j-width-left img, .j-message .j-row-middle .j-width-left img, .j-message .j-width-down .j-width-left img, .j-message .j-me-main-down .j-width-left img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.j-message .j-row p, .j-message .j-row-middle p, .j-message .j-width-down p, .j-message .j-me-main-down p {
  font-size: 1.8rem;
  font-weight: 300;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  line-height: 2.1;
  letter-spacing: 0.4rem;
}

@media screen and (max-width: 500px) {
  .j-message .j-row p, .j-message .j-row-middle p, .j-message .j-width-down p, .j-message .j-me-main-down p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.5;
    letter-spacing: 0.1rem;
    margin: 0 auto;
  }
}

.j-message .j-row-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .j-message .j-row-middle {
    display: block;
  }
}

.j-message .j-row-middle .j-width-left {
  width: 43rem;
}

@media screen and (max-width: 500px) {
  .j-message .j-row-middle .j-width-left {
    width: 100%;
    height: 20rem;
    margin: 0 auto 5rem;
  }
}

.j-message .j-me-right, .j-message .j-me-left {
  position: relative;
  top: none;
  right: 0;
  bottom: 2.6rem;
  left: 0;
  width: 25rem;
  margin: 0 10rem 0 auto;
}

@media screen and (max-width: 500px) {
  .j-message .j-me-right, .j-message .j-me-left {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20rem;
    margin: 5rem auto;
  }
}

.j-message .j-me-right img, .j-message .j-me-left img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.j-message .j-width-down {
  margin: 5.4rem 0 0 0;
}

.j-message .j-width-down .j-width-left {
  width: auto;
}

@media screen and (max-width: 500px) {
  .j-message .j-width-down .j-width-left {
    width: 100%;
    margin: 0 auto;
  }
}

.j-message .j-width-down .j-width-right-me {
  width: 34rem;
}

@media screen and (max-width: 500px) {
  .j-message .j-width-down .j-width-right-me {
    width: 100%;
    height: 20rem;
    margin: 0 auto 0;
  }
}

.j-message .j-width-down .j-width-right-me img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.j-message .j-me-main {
  width: 9rem;
  margin: 8rem auto 0;
}

@media screen and (max-width: 500px) {
  .j-message .j-me-main {
    width: 8rem;
    margin: 7rem auto 6rem;
  }
}

.j-message .j-me-main img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .j-message .j-me-main-down {
    margin: 0 auto 5rem;
  }
}

.j-message .j-me-main-down .j-width-left {
  width: 30rem;
}

@media screen and (max-width: 500px) {
  .j-message .j-me-main-down .j-width-left {
    width: 100%;
    height: 42rem;
    margin: 0 auto 5rem;
  }
}

.j-message .j-me-left {
  position: relative;
  top: none;
  right: 0;
  bottom: 6rem;
  left: 0;
  width: 22rem;
  margin: 0 0 0 8rem;
}

@media screen and (max-width: 500px) {
  .j-message .j-me-left {
    width: 100%;
    height: 20rem;
    margin: 0 auto 5rem;
  }
}

.j-message .j-me-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 10rem 0 10rem;
}

@media screen and (max-width: 500px) {
  .j-message .j-me-btn {
    display: block;
    margin: 8rem 0 8rem;
  }
}

.j-message .j-me-btn p {
  font-size: 1.6rem;
  font-weight: 400;
  border: 1px solid #030508;
  padding: 1.4rem 0;
  margin: 0 1rem;
  width: 17.6rem;
  border-radius: 3rem;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .j-message .j-me-btn p {
    border: 1px solid #030508;
    padding: 1.5rem 0 1.6rem;
    margin: 0 auto 2.3rem;
    width: 21rem;
  }
}

/* j-concept */
.j-concept {
  background-color: #fdf1ec;
  padding: 16rem 0;
}

@media screen and (max-width: 500px) {
  .j-concept {
    padding: 8rem 0;
  }
}

.j-concept #concept {
  text-align: center;
}

.j-concept #concept .j-co-list {
  border: 1px solid #030508;
  width: 44rem;
  margin: 0 auto 3.5rem;
}

@media screen and (max-width: 500px) {
  .j-concept #concept .j-co-list {
    width: 90%;
    margin: 0 auto 2.5rem;
  }
}

.j-concept #concept .j-co-list h3 {
  font-size: 1.8rem;
  font-weight: 400;
  height: 6.2rem;
  line-height: 6.2rem;
  margin: 1rem;
  background-color: #fff;
}

@media screen and (max-width: 500px) {
  .j-concept #concept .j-co-list h3 {
    font-size: 1.6rem;
    font-weight: 400;
    height: 5.5rem;
    line-height: 5.5rem;
  }
  .j-concept #concept .j-co-list h3:last-child {
    letter-spacing: -0.05rem;
  }
}

.j-concept #concept p {
  letter-spacing: 0.08rem;
  line-height: 2;
  margin: 0 0 8rem 0;
}

@media screen and (max-width: 500px) {
  .j-concept #concept p {
    width: 90%;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
    line-height: 2;
    letter-spacing: 0.1rem;
    margin: 0 auto 5rem;
  }
  .j-concept #concept p br {
    display: none;
  }
}

.j-concept .j-co-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 10rem 0 8rem 0;
}

@media screen and (max-width: 500px) {
  .j-concept .j-co-three {
    display: block;
    margin: 6rem auto 4rem;
  }
}

.j-concept .j-co-three p {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin: 0 2rem 0;
  width: 18rem;
  height: 18rem;
  line-height: 18rem;
  background-color: #fff;
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  .j-concept .j-co-three p {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0 auto 2.5rem;
    width: 90%;
    height: 7rem;
    line-height: 7rem;
    border-radius: 0;
  }
}

.j-concept .j-co-down {
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.3rem;
}

@media screen and (max-width: 500px) {
  .j-concept .j-co-down {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0rem;
  }
}

/* j-flow */
.j-flow {
  padding: 14rem 0 9rem;
}

@media screen and (max-width: 500px) {
  .j-flow {
    padding: 8rem 0 2rem;
  }
}

.j-flow-title, .j-voice-title, .j-inquiry-title, .j-recommend-title, .j-form-title {
  font-size: 2.6rem;
  font-weight: 400;
  text-align: center;
  margin: 0 0 6rem;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 500px) {
  .j-flow-title, .j-voice-title, .j-inquiry-title, .j-recommend-title, .j-form-title {
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 5rem;
  }
}

.j-flow-title span, .j-voice-title span, .j-inquiry-title span, .j-recommend-title span, .j-form-title span {
  font-size: 1.2rem;
  font-weight: 300;
  display: block;
  margin: 2rem 0 0;
}

#flow .j-fl-list {
  background-color: #f5f5f5;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70rem;
  margin: 0 auto 10rem;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 500px) {
  #flow .j-fl-list {
    display: block;
    width: 90%;
    padding: 2rem;
    margin: 0 auto 6rem;
  }
}

#flow .j-fl-list .j-triangle {
  position: absolute;
  top: none;
  right: none;
  bottom: -4rem;
  left: none;
  border-top: 5rem solid #f5f5f5;
  border-right: 4rem solid transparent;
  border-left: 4rem solid transparent;
}

@media screen and (max-width: 500px) {
  #flow .j-fl-list .j-triangle {
    position: absolute;
    bottom: -2.5rem;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    border-top: 4rem solid #f5f5f5;
    border-right: 4rem solid transparent;
    border-left: 4rem solid transparent;
  }
}

#flow .j-fl-list .j-fl-left {
  width: 32rem;
  margin: 0 2.7rem 0 0;
}

@media screen and (max-width: 500px) {
  #flow .j-fl-list .j-fl-left {
    width: 100%;
  }
}

#flow .j-fl-list .j-fl-left h3 {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 1.8rem 0;
  background-color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  border: 1px solid #030508;
  margin: 0 0 1.8rem;
}

@media screen and (max-width: 500px) {
  #flow .j-fl-list .j-fl-left h3 {
    padding: 1.6rem 0;
    font-size: 1.6rem;
    font-weight: 400;
  }
}

#flow .j-fl-list .j-fl-left h3 span:first-child {
  position: absolute;
  top: 1.8rem;
  right: 0;
  bottom: 0;
  left: 1.8rem;
  border-left: 1px solid #030508;
  height: 1.7rem;
  display: block;
}

#flow .j-fl-list .j-fl-left h3 span:last-child {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  bottom: 0;
  left: 0;
  border-right: 1px solid #030508;
  height: 1.7rem;
  display: block;
}

#flow .j-fl-list .j-fl-left p {
  line-height: 1.8;
}

@media screen and (max-width: 500px) {
  #flow .j-fl-list .j-fl-left p {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

#flow .j-fl-list .j-fl-right {
  width: 24rem;
}

@media screen and (max-width: 500px) {
  #flow .j-fl-list .j-fl-right {
    margin: 2rem 0 0;
    width: 100%;
    height: 14rem;
  }
}

#flow .j-fl-list .j-fl-right img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* j-voice */
.j-voice {
  padding: 0 0 6rem;
}

@media screen and (max-width: 500px) {
  .j-voice {
    padding: 0 0 7rem;
  }
}

.j-voice-title {
  margin: 0 0 8rem;
}

@media screen and (max-width: 500px) {
  .j-voice-title {
    margin: 0 0 5rem;
  }
}

.j-vo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto 10rem;
}

@media screen and (max-width: 500px) {
  .j-vo-list {
    display: block;
    margin: 0 auto 5rem;
  }
}

.j-vo-list .j-vo-left {
  width: 39rem;
  margin: 0 5.7rem 0 0;
}

@media screen and (max-width: 500px) {
  .j-vo-list .j-vo-left {
    width: 90%;
    margin: 0 auto;
  }
}

.j-vo-list .j-vo-left .j-vo-item {
  width: 98%;
  display: block;
  height: 0.5rem;
  border-top: 1px solid #030508;
  border-right: 1px solid #030508;
  background-color: #fff6e7;
}

.j-vo-list .j-vo-left h3 {
  text-align: left;
  height: 5rem;
  line-height: 4.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  border: 1px solid #030508;
  margin: 0 0 1.8rem;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 500px) {
  .j-vo-list .j-vo-left h3 {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0;
  }
}

.j-vo-list .j-vo-left h3 span {
  font-size: 2rem;
  font-weight: 400;
  margin: 0 2rem 0 0;
  padding: 0 1.8rem;
  border-right: 1px solid #030508;
  height: 100%;
  display: inline-block;
}

@media screen and (max-width: 500px) {
  .j-vo-list .j-vo-left h3 span {
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.j-vo-list .j-vo-left p {
  line-height: 2;
}

@media screen and (max-width: 500px) {
  .j-vo-list .j-vo-left p {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .j-vo-list .j-vo-left p br {
    display: none;
  }
}

.j-vo-list .j-vo-right {
  width: 41rem;
}

@media screen and (max-width: 500px) {
  .j-vo-list .j-vo-right {
    margin: 2.5rem auto 0;
    width: 90%;
    height: 20rem;
  }
}

.j-vo-list .j-vo-right img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* j-youtube */
.j-youtube {
  margin: 0 0 16rem;
}

@media screen and (max-width: 500px) {
  .j-youtube {
    margin: 0 0 12rem;
  }
}

.j-youtube #player {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .j-youtube #player {
    width: 90%;
    height: 22rem;
  }
}

/* j-inquiry */
.j-inquiry {
  margin: 0 auto 16rem;
}

@media screen and (max-width: 500px) {
  .j-inquiry {
    margin: 0 auto 8rem;
  }
}

.j-inquiry-title {
  margin: 0 0 8rem;
}

@media screen and (max-width: 500px) {
  .j-inquiry-title {
    margin: 0 0 6rem;
  }
}

.j-in-list {
  width: 60rem;
  margin: 0 auto 7rem;
}

@media screen and (max-width: 500px) {
  .j-in-list {
    width: 90%;
    margin: 0 auto 3rem;
  }
}

.j-in-list .j-in-top {
  border: 1px solid #030508;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 3.8rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 500px) {
  .j-in-list .j-in-top {
    border: none;
    padding: 2.5rem;
    border-radius: 0rem;
  }
}

@media screen and (max-width: 500px) {
  .j-in-list .j-in-top {
    border: none;
    background-color: #f5f5f5;
  }
}

.j-in-list .j-in-top .inquiry-text {
  font-size: 1.8rem;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .j-in-list .j-in-top .inquiry-text {
    line-height: 1.6;
    margin: 0 2rem 0 0;
    font-size: 1.6rem;
    font-weight: 400;
  }
}

.j-in-list .j-in-top .inquiry-text span {
  letter-spacing: 0.1rem;
  font-size: 2rem;
  font-weight: 300;
}

@media screen and (max-width: 500px) {
  .j-in-list .j-in-top .inquiry-text span {
    display: none;
  }
}

.j-in-list .j-in-top .op_plus {
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1.4rem;
  height: 1.4rem;
}

.j-in-list .j-in-top .op_plus:hover {
  cursor: pointer;
}

.j-in-list .j-in-top .op_plus:before,
.j-in-list .j-in-top .op_plus:after {
  display: block;
  content: '';
  background-color: #030508;
  position: absolute;
  top: 1.2rem;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1.4rem;
  height: 0.1rem;
}

.j-in-list .j-in-top .plus:before {
  width: 0.1rem;
  height: 1.4rem;
  top: 5px;
  left: 7px;
}

@media screen and (max-width: 500px) {
  .j-in-list .j-in-top .plus:before {
    top: 0.5rem;
  }
}

.j-in-list .j-answer.j-anDis {
  display: none;
}

.j-in-list .j-answer .answer-text {
  background-color: #e4ede4;
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 2rem 3rem 2.5rem;
  line-height: 2;
  font-size: 1.6rem;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .j-in-list .j-answer .answer-text {
    line-height: 1.6;
    padding: 2.5rem;
  }
}

/* j-recommend */
.j-recommend {
  margin: 0 auto 16rem;
}

@media screen and (max-width: 500px) {
  .j-recommend {
    margin: 0 auto 8rem;
  }
}

.j-recommend-title {
  margin-bottom: -1rem;
}

#recommend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff6e7;
  width: 100%;
  margin: 0 auto;
  padding: 7rem 0;
}

@media screen and (max-width: 500px) {
  #recommend {
    display: block;
    padding: 6rem 0 3.5rem;
  }
}

#recommend .j-re-item {
  margin: 0 0 2.5rem;
}

@media screen and (max-width: 500px) {
  #recommend .j-re-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 90%;
    margin: 0 auto 2rem;
  }
}

#recommend .j-re-item .j-re-image {
  width: 6rem;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  #recommend .j-re-item .j-re-image {
    width: 5.5rem;
    margin: 0 1.5rem 0 0;
  }
}

#recommend .j-re-item .j-re-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#recommend .j-re-item p {
  text-align: center;
  line-height: 1.8;
  font-size: 1.8rem;
  font-weight: 300;
}

@media screen and (max-width: 500px) {
  #recommend .j-re-item p {
    text-align: left;
    line-height: 1.8;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: -0.05rem;
  }
}

/* j-form */
.j-form {
  padding: 0 0 10rem;
  border-bottom: 1px solid #f5f5f5;
}

@media screen and (max-width: 500px) {
  .j-form {
    padding: 0 0 6rem;
  }
}

.j-form-title {
  margin: 0 0 8rem;
}

@media screen and (max-width: 500px) {
  .j-form-title {
    margin: 0 0 6rem;
  }
}

form {
  width: 86rem;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  form {
    width: 90%;
  }
}

form .j-fo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form .j-fo-top input[type='radio'], form .j-fo-top .j-formIn textarea[type='radio'], form .j-formIn .j-fo-top textarea[type='radio'] {
  display: none;
}

form .j-fo-top .j-button {
  background-color: #fff;
  font-size: 2rem;
  font-weight: 300;
  font-family: "Noto Serif JP", serif, "MS P明朝", "ヒラギノ明朝";
  border: none;
  margin: 0 2.5rem 7rem;
  width: 13rem;
  padding: 0 0 4rem;
  border-bottom: 3px solid #969696;
  color: #969696;
  display: inline-block;
  text-align: center;
}

form .j-fo-top .j-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  form .j-fo-top .j-button {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0 2rem 7rem;
    padding: 0 0 2.5rem 0;
    width: 11rem;
  }
}

form .j-fo-top .j-bu-success {
  border-bottom: 3px solid #030508;
  color: #030508;
}

form .j-formIn {
  padding: 0 0 4rem 0;
  border-bottom: 1px solid #f5f5f5;
  margin: 0 0 4rem 0;
}

@media screen and (max-width: 500px) {
  form .j-formIn {
    border: none;
    padding: 0;
    margin: 0 0 3rem 0;
  }
}

form .j-formIn .j-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  form .j-formIn .j-inner {
    display: block;
  }
}

form .j-formIn .errorMe {
  margin: 3rem 0 0 25rem;
  color: #a52323;
}

form .j-formIn label {
  font-size: 1.6rem;
  font-weight: 300;
  width: 14rem;
}

@media screen and (max-width: 500px) {
  form .j-formIn label {
    font-size: 1.5rem;
    font-weight: 300;
    width: 100%;
    margin: 0 0 2rem;
  }
}

form .j-formIn span {
  width: 5rem;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.8rem 0;
  margin: 0 6rem 0 0;
  color: #a52323;
  border: 1px solid #a52323;
  text-align: center;
}

@media screen and (max-width: 500px) {
  form .j-formIn span {
    width: 100%;
    padding: 0 1.5rem 0;
    margin: 0 0 0 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    border: none;
    border-left: 1px solid #a52323;
  }
}

form .j-formIn input, form .j-formIn textarea {
  outline: none;
  height: 6rem;
  width: 61rem;
  background-color: #f5f5f5;
  margin: 0 0 0 auto;
  padding: 2rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
}

@media screen and (max-width: 500px) {
  form .j-formIn input, form .j-formIn textarea {
    width: 100%;
    margin: 1.8rem 0 0;
  }
}

form .j-formIn input:-webkit-autofill, form .j-formIn textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset;
          box-shadow: 0 0 0px 1000px #f5f5f5 inset;
}

form .j-formIn textarea {
  outline: none;
  height: 26rem;
  resize: none;
}

form .j-formIn .error {
  background-color: #fff6f6;
}

form #send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 0 4rem 0;
  border-bottom: 1px solid #f5f5f5;
  margin: 0 0 4rem 0;
}

@media screen and (max-width: 500px) {
  form #send {
    border: none;
    padding: 0 0 2rem 0;
    margin: 0 0 2rem 0;
  }
}

form #send label {
  font-size: 1.6rem;
  font-weight: 300;
  display: inline-block;
  width: 25rem;
}

form #send input[type='radio'], form #send .j-formIn textarea[type='radio'], form .j-formIn #send textarea[type='radio'] {
  display: none;
}

form #send .j-label {
  font-size: 1.6rem;
  font-weight: 300;
  width: 18rem;
  margin: 0 2.5rem 0 0;
  text-align: center;
  height: 6rem;
  line-height: 5.5rem;
  border-radius: 1rem;
  background-color: #f5f5f5;
  color: #969696;
}

form #send .j-label:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  form #send .j-label {
    width: 100%;
    margin: 1.8rem auto 1.2rem;
  }
  form #send .j-label:last-child {
    margin: 1.2rem auto 0;
  }
}

form #send .j-la-active {
  border: 1px solid #030508;
  background-color: #fff;
  color: #030508;
}

form button {
  margin: 4rem auto 0;
  width: 34rem;
  height: 7rem;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Noto Serif JP", serif, "MS P明朝", "ヒラギノ明朝";
  line-height: 7rem;
  border: none;
}

@media screen and (max-width: 500px) {
  form button {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 2rem auto 0;
  }
}

form .btnEr {
  background-color: #f5f5f5;
}

form .btnSu {
  background-color: #fff;
  color: #030508;
  border: 1px solid #030508;
}

form .btnSu:hover {
  cursor: pointer;
}

form .j-formIn:last-child {
  border: none;
}

.privacy {
  margin: 0 0 5rem;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-align: center;
}

/* footer */
.footer {
  margin: 5rem auto 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .footer {
    margin: 5rem auto;
  }
}

.footer div {
  width: 3.5rem;
  margin: 0 4rem;
}

@media screen and (max-width: 500px) {
  .footer div {
    width: 3rem;
    margin: 0 3rem;
  }
}

.footer div img {
  width: 100%;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loading {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#loading-main:after,
#loading-main:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  margin-left: -50%;
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 110%;
}

#loading-main {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 105;
}

#loading-main:after {
  -webkit-animation: loading 0.75s linear infinite;
  animation: loading 0.75s linear infinite;
  border: 1px solid transparent;
  border-top-color: #666;
}

#loading-main:before {
  border: 1px solid rgba(51, 51, 51, 0.15);
}

.grecaptcha-badge {
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */