/* Google Fonts */
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600&display=swap);

@import './reset.scss';

/* 変数 */
$breakPoint-pc: 600px;
$breakPoint-mobile: 500px;
$notoSerif: 'Noto Serif JP', serif, 'MS P明朝', 'ヒラギノ明朝';

/* カラー */
$fontColor: #030508;
$white: #fff;
$red: #a52323;

/* 関数 */
@mixin max-screen($break-point) {
  @media screen and(max-width:$break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media screen and(min-width:$break-point) {
    @content;
  }
}

@mixin flex($f-Disply, $f-Content, $f-Row, $f-align) {
  display: $f-Disply;
  justify-content: $f-Content;
  flex-direction: $f-Row;
  align-items: $f-align;
}

@mixin widthSize($widthSize) {
  width: $widthSize;
}

@mixin heightSize($heightSize) {
  height: $heightSize;
}

@mixin fz($size, $weight) {
  font-size: ($size / 10) + rem;
  font-weight: $weight;
}

@mixin margin($maValue) {
  margin: $maValue;
}

@mixin padding($paValue) {
  padding: $paValue;
}

@mixin border {
  border: 1px solid $fontColor;
}

@mixin radius($radius) {
  border-radius: $radius;
}

@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin backColor($backColor) {
  background-color: $backColor;
}

@mixin display($display) {
  display: $display;
}

@mixin color($color) {
  color: $color;
}

@mixin cursor {
  &:hover {
    cursor: pointer;
  }
}

/* アニメーション設定 */
.scr-target {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
}
.scr-target.is-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 2s;
}

/* スタイル */
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include color($fontColor);
  @include min-screen($breakPoint-pc) {
    font-size: 15px;
  }
  font-family: $notoSerif;
  font-weight: 400;
}

a {
  text-decoration: none;
  @include color($fontColor);
}

#main {
  @include min-screen($breakPoint-pc) {
    display: block;
  }
  overflow: hidden;
}

.j-lead {
  position: relative;

  .j-row {
    @include flex(flex, space-between, row, flex-start);
    @include heightSize(100vh);

    @include max-screen($breakPoint-mobile) {
      display: block;
    }

    .j-width-left {
      @include widthSize(37%);
      @include margin(3rem 5rem 0 5rem);
      // smt
      @include max-screen($breakPoint-mobile) {
        @include widthSize(100%);
        @include margin(0);
      }

      .logo {
        @include widthSize(12.6rem);
        @include heightSize(auto);
        @include margin(0 0 5.7rem);
        // smt
        @include max-screen($breakPoint-mobile) {
          @include widthSize(10rem);
          @include margin(2rem 0 4rem 2rem);
        }
      }

      h3 {
        @include fz(20, 400);
        @include margin(1rem 0 2rem);
        // smt
        @include max-screen($breakPoint-mobile) {
          float: right;
          @include margin(8.6rem 3rem 0 0);
        }
      }

      h1 {
        @include fz(34, 300);
        @include margin(0 0 3rem);
        line-height: 1.5;

        // smt
        @include max-screen($breakPoint-mobile) {
          @include fz(28, 300);
          @include margin(2.8rem auto 1rem);
          display: grid;
          place-items: center;
        }
      }

      .bus {
        @include flex(flex, flex-start, row, flex-start);
        @include widthSize(100%);

        //smt
        @include max-screen($breakPoint-mobile) {
          @include position(relative, 0, 0, 0, 0);
          @include display(block);
          @include widthSize(26rem);
          @include margin(1.5rem auto 0);
        }

        p {
          @include padding(1.8rem 0 0);
          border-top: 1px solid $fontColor;
          @include widthSize(100%);
          //smt
          @include max-screen($breakPoint-mobile) {
            @include fz(14, 300);
            @include padding(3rem 0 0);
            text-align: center;
          }
        }
        img {
          @include position(relative, none, 0, 4rem, 0.5rem);
          @include widthSize(18rem);
          //smt
          @include max-screen($breakPoint-mobile) {
            @include widthSize(12.5rem);
            @include position(absolute, none, none, 3rem, 15rem);
          }
        }

        span {
          @include widthSize(20%);
          @include display(block);
          border-top: 1px solid $fontColor;

          //smt
          @include max-screen($breakPoint-mobile) {
            @include display(none);
          }
        }
      }

      .j-btn {
        @include flex(flex, space-between, row, flex-start);
        position: absolute;
        bottom: 5rem;
        //smt
        @include max-screen($breakPoint-mobile) {
          @include flex(flex, center, row, flex-start);
          @include widthSize(100%);
          bottom: 3rem;
        }

        p {
          @include fz(16, 400);
          @include border;
          @include padding(1.4rem 0);
          @include margin(0 2rem 0 0);
          @include widthSize(17.6rem);
          @include radius(3rem);
          text-align: center;
        }
      }
    }
    .j-width-right {
      @include widthSize(63%);
      @include heightSize(53rem);
      //smt
      @include max-screen($breakPoint-mobile) {
        @include widthSize(100%);
        @include heightSize(28rem);
      }
      img {
        object-fit: cover;
        @include widthSize(100%);
        @include heightSize(100vh);
        //smt
        @include max-screen($breakPoint-mobile) {
          @include heightSize(100%);
        }
      }
    }
  }
  .j-btn {
    @include max-screen($breakPoint-mobile) {
      @include widthSize(100%);
      @include margin(4rem auto 8rem);
    }

    p {
      //smt
      @include max-screen($breakPoint-mobile) {
        @include border;
        @include radius(3rem);
        @include padding(1.5rem 0 1.6rem);
        @include margin(0 auto 2.3rem);
        @include widthSize(21rem);
        @include fz(16, 400);
        text-align: center;
      }
    }
  }
}

/* j-message */
.j-message {
  .j-row {
    @include flex(flex, center, row, center);
    @include margin(8rem 0 0);

    //smt
    @include max-screen($breakPoint-mobile) {
      @include display(block);
      @include margin(6rem 0 0);
    }

    .j-width-left {
      @include widthSize(63rem);
      @include margin(0 7rem 0 0);

      //smt
      @include max-screen($breakPoint-mobile) {
        @include widthSize(100%);
        @include heightSize(20rem);
        @include margin(0 auto 5rem);
      }

      img {
        object-fit: cover;
        @include widthSize(100%);
        @include heightSize(100%);
      }
    }

    p {
      @include fz(18, 300);
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      line-height: 2.1;
      letter-spacing: 0.4rem;

      //smt
      @include max-screen($breakPoint-mobile) {
        @include fz(15, 300);
        line-height: 2.5;
        letter-spacing: 0.1rem;
        @include margin(0 auto);
      }
    }
  }

  .j-row-middle {
    @extend .j-row;
    @include flex(flex, flex-start, row, center);

    //smt
    @include max-screen($breakPoint-mobile) {
      @include display(block);
    }

    .j-width-left {
      @include widthSize(43rem);

      //smt
      @include max-screen($breakPoint-mobile) {
        @include widthSize(100%);
        @include heightSize(20rem);
        @include margin(0 auto 5rem);
      }
    }
  }

  .j-me-right {
    @include position(relative, none, 0, 2.6rem, 0);
    @include widthSize(25rem);
    @include margin(0 10rem 0 auto);

    //smt
    @include max-screen($breakPoint-mobile) {
      @include position(relative, 0, 0, 0, 0);
      @include widthSize(100%);
      @include heightSize(20rem);
      @include margin(5rem auto);
    }
    img {
      object-fit: cover;
      @include widthSize(100%);
      @include heightSize(100%);
    }
  }

  .j-width-down {
    @extend .j-row;
    @include margin(5.4rem 0 0 0);

    .j-width-left {
      @include widthSize(auto);
      //smt
      @include max-screen($breakPoint-mobile) {
        @include widthSize(100%);
        @include margin(0 auto);
      }
    }

    .j-width-right-me {
      @include widthSize(34rem);

      //smt
      @include max-screen($breakPoint-mobile) {
        @include widthSize(100%);
        @include heightSize(20rem);
        @include margin(0 auto 0);
      }

      img {
        object-fit: cover;
        @include widthSize(100%);
        @include heightSize(100%);
      }
    }
  }

  .j-me-main {
    @include widthSize(9rem);
    @include margin(8rem auto 0);

    //smt
    @include max-screen($breakPoint-mobile) {
      @include widthSize(8rem);
      @include margin(7rem auto 6rem);
    }
    img {
      object-fit: cover;
      @include widthSize(100%);
      @include heightSize(100%);
    }
  }

  .j-me-main-down {
    @extend .j-row;

    //smt
    @include max-screen($breakPoint-mobile) {
      @include margin(0 auto 5rem);
    }

    .j-width-left {
      @include widthSize(30rem);
      //smt
      @include max-screen($breakPoint-mobile) {
        @include widthSize(100%);
        @include heightSize(42rem);
        @include margin(0 auto 5rem);
      }
    }
  }

  .j-me-left {
    @extend .j-me-right;
    @include position(relative, none, 0, 6rem, 0);
    @include widthSize(22rem);
    @include margin(0 0 0 8rem);

    //smt
    @include max-screen($breakPoint-mobile) {
      @include widthSize(100%);
      @include heightSize(20rem);
      @include margin(0 auto 5rem);
    }
  }

  .j-me-btn {
    @include flex(flex, center, row, flex-start);
    @include margin(10rem 0 10rem);

    //smt
    @include max-screen($breakPoint-mobile) {
      @include display(block);
      @include margin(8rem 0 8rem);
    }

    p {
      @include fz(16, 400);
      @include border;
      @include padding(1.4rem 0);
      @include margin(0 1rem);
      @include widthSize(17.6rem);
      @include radius(3rem);
      text-align: center;

      //smt
      @include max-screen($breakPoint-mobile) {
        @include border;
        @include padding(1.5rem 0 1.6rem);
        @include margin(0 auto 2.3rem);
        @include widthSize(21rem);
      }
    }
  }
}

/* j-concept */
.j-concept {
  @include backColor(#fdf1ec);
  @include padding(16rem 0);
  //smt
  @include max-screen($breakPoint-mobile) {
    @include padding(8rem 0);
  }

  #concept {
    text-align: center;

    .j-co-list {
      @include border;
      @include widthSize(44rem);
      @include margin(0 auto 3.5rem);
      //smt
      @include max-screen($breakPoint-mobile) {
        @include widthSize(90%);
        @include margin(0 auto 2.5rem);
      }

      h3 {
        @include fz(18, 400);
        @include heightSize(6.2rem);
        line-height: 6.2rem;
        @include margin(1rem);
        @include backColor($white);

        //smt
        @include max-screen($breakPoint-mobile) {
          @include fz(16, 400);
          @include heightSize(5.5rem);
          line-height: 5.5rem;
          &:last-child {
            letter-spacing: -0.05rem;
          }
        }
      }
    }
    p {
      letter-spacing: 0.08rem;
      line-height: 2;
      @include margin(0 0 8rem 0);

      //smt
      @include max-screen($breakPoint-mobile) {
        br {
          @include display(none);
        }
        @include widthSize(90%);
        @include fz(15, 300);
        text-align: left;
        line-height: 2;
        letter-spacing: 0.1rem;
        @include margin(0 auto 5rem);
      }
    }
  }

  .j-co-three {
    @include flex(flex, center, row, flex-start);
    @include margin(10rem 0 8rem 0);

    //smt
    @include max-screen($breakPoint-mobile) {
      @include display(block);
      @include margin(6rem auto 4rem);
    }

    p {
      @include fz(20, 400);
      text-align: center;
      @include margin(0 2rem 0);
      @include widthSize(18rem);
      @include heightSize(18rem);
      line-height: 18rem;
      @include backColor($white);
      @include radius(50%);

      //smt
      @include max-screen($breakPoint-mobile) {
        @include fz(18, 400);
        @include margin(0 auto 2.5rem);
        @include widthSize(90%);
        @include heightSize(7rem);
        line-height: 7rem;
        @include radius(0);
      }
    }
  }

  .j-co-down {
    @include fz(22, 400);
    text-align: center;
    letter-spacing: 0.3rem;

    //smt
    @include max-screen($breakPoint-mobile) {
      @include fz(16, 300);
      letter-spacing: 0rem;
    }
  }
}

/* j-flow */
.j-flow {
  @include padding(14rem 0 9rem);

  //smt
  @include max-screen($breakPoint-mobile) {
    @include padding(8rem 0 2rem);
  }
}

.j-flow-title {
  @include fz(26, 400);
  text-align: center;
  @include margin(0 0 6rem);
  letter-spacing: 0.1rem;

  //smt
  @include max-screen($breakPoint-mobile) {
    @include fz(20, 400);
    @include margin(0 0 5rem);
  }

  span {
    @include fz(12, 300);
    @include display(block);
    @include margin(2rem 0 0);
  }
}

#flow {
  .j-fl-list {
    @include backColor(#f5f5f5);
    @include padding(4rem);
    @include flex(flex, center, row, flex-start);
    @include widthSize(70rem);
    @include margin(0 auto 10rem);
    @include position(relative, 0, 0, 0, 0);

    //smt
    @include max-screen($breakPoint-mobile) {
      @include display(block);
      @include widthSize(90%);
      @include padding(2rem);
      @include margin(0 auto 6rem);
    }

    .j-triangle {
      @include position(absolute, none, none, -4rem, none);
      border-top: 5rem solid #f5f5f5;
      border-right: 4rem solid transparent;
      border-left: 4rem solid transparent;

      //smt
      @include max-screen($breakPoint-mobile) {
        position: absolute;
        bottom: -2.5rem;
        left: 50%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        border-top: 4rem solid #f5f5f5;
        border-right: 4rem solid transparent;
        border-left: 4rem solid transparent;
      }
    }

    .j-fl-left {
      @include widthSize(32rem);
      @include margin(0 2.7rem 0 0);

      //smt
      @include max-screen($breakPoint-mobile) {
        @include widthSize(100%);
      }

      h3 {
        @include position(relative, 0, 0, 0, 0);
        text-align: center;
        @include padding(1.8rem 0);
        @include backColor($white);
        @include fz(18, 400);
        @include border;
        @include margin(0 0 1.8rem);

        //smt
        @include max-screen($breakPoint-mobile) {
          @include padding(1.6rem 0);
          @include fz(16, 400);
        }

        span:first-child {
          @include position(absolute, 1.8rem, 0, 0, 1.8rem);
          border-left: 1px solid $fontColor;
          @include heightSize(1.7rem);
          @include display(block);
        }

        span:last-child {
          @include position(absolute, 1.8rem, 1.8rem, 0, 0);
          border-right: 1px solid $fontColor;
          @include heightSize(1.7rem);
          @include display(block);
        }
      }

      p {
        line-height: 1.8;

        //smt
        @include max-screen($breakPoint-mobile) {
          @include fz(15, 300);
        }
      }
    }

    .j-fl-right {
      @include widthSize(24rem);

      //smt
      @include max-screen($breakPoint-mobile) {
        @include margin(2rem 0 0);
        @include widthSize(100%);
        @include heightSize(14rem);
      }

      img {
        object-fit: cover;
        @include widthSize(100%);
        @include heightSize(100%);
      }
    }
  }
}

/* j-voice */
.j-voice {
  @include padding(0 0 6rem);

  //smt
  @include max-screen($breakPoint-mobile) {
    @include padding(0 0 7rem);
  }
}

.j-voice-title {
  @extend.j-flow-title;
  @include margin(0 0 8rem);

  //smt
  @include max-screen($breakPoint-mobile) {
    @include margin(0 0 5rem);
  }
}

.j-vo-list {
  @include flex(flex, center, row, flex-start);
  @include margin(0 auto 10rem);

  //smt
  @include max-screen($breakPoint-mobile) {
    @include display(block);
    @include margin(0 auto 5rem);
  }

  .j-vo-left {
    @include widthSize(39rem);
    @include margin(0 5.7rem 0 0);

    //smt
    @include max-screen($breakPoint-mobile) {
      @include widthSize(90%);
      @include margin(0 auto);
    }

    .j-vo-item {
      @include widthSize(98%);
      @include display(block);
      @include heightSize(0.5rem);
      border-top: 1px solid $fontColor;
      border-right: 1px solid $fontColor;
      @include backColor(#fff6e7);
    }

    h3 {
      text-align: left;
      @include heightSize(5rem);
      line-height: 4.5rem;
      @include fz(18, 400);
      @include border;
      @include margin(0 0 1.8rem);
      letter-spacing: 0.1rem;

      //smt
      @include max-screen($breakPoint-mobile) {
        @include fz(16, 400);
        letter-spacing: 0;
      }

      span {
        @include fz(20, 400);
        @include margin(0 2rem 0 0);
        @include padding(0 1.8rem);
        border-right: 1px solid $fontColor;
        @include heightSize(100%);
        @include display(inline-block);

        @include max-screen($breakPoint-mobile) {
          @include fz(18, 400);
        }
      }
    }

    p {
      line-height: 2;
      //smt
      @include max-screen($breakPoint-mobile) {
        @include fz(15, 300);
        br {
          @include display(none);
        }
      }
    }
  }

  .j-vo-right {
    @include widthSize(41rem);
    //smt
    @include max-screen($breakPoint-mobile) {
      @include margin(2.5rem auto 0);
      @include widthSize(90%);
      @include heightSize(20rem);
    }

    img {
      object-fit: cover;
      @include widthSize(100%);
      @include heightSize(100%);
    }
  }
}

/* j-youtube */
.j-youtube {
  @include margin(0 0 16rem);

  //smt
  @include max-screen($breakPoint-mobile) {
    @include margin(0 0 12rem);
  }

  #player {
    @include display(block);
    @include margin(0 auto);

    //smt
    @include max-screen($breakPoint-mobile) {
      @include widthSize(90%);
      @include heightSize(22rem);
    }
  }
}

/* j-inquiry */
.j-inquiry {
  @include margin(0 auto 16rem);

  //smt
  @include max-screen($breakPoint-mobile) {
    @include margin(0 auto 8rem);
  }
}
.j-inquiry-title {
  @extend.j-flow-title;
  @include margin(0 0 8rem);

  //smt
  @include max-screen($breakPoint-mobile) {
    @include margin(0 0 6rem);
  }
}

.j-in-list {
  @include widthSize(60rem);
  @include margin(0 auto 7rem);

  //smt
  @include max-screen($breakPoint-mobile) {
    @include widthSize(90%);
    @include margin(0 auto 3rem);
  }

  .j-in-top {
    @include border;
    border-radius: 1.5rem 1.5rem 0 0;
    @include padding(3.8rem 3rem);

    //smt
    @include max-screen($breakPoint-mobile) {
      border: none;
      @include padding(2.5rem);
      border-radius: 0rem;
    }

    @include flex(flex, space-between, row, flex-start);
    //smt
    @include max-screen($breakPoint-mobile) {
      border: none;
      @include backColor(#f5f5f5);
    }

    .inquiry-text {
      @include fz(18, 400);
      //smt
      @include max-screen($breakPoint-mobile) {
        line-height: 1.6;
        @include margin(0 2rem 0 0);
        @include fz(16, 400);
      }

      span {
        letter-spacing: 0.1rem;
        @include fz(20, 300);
        //smt
        @include max-screen($breakPoint-mobile) {
          @include display(none);
        }
      }
    }

    .op_plus {
      @include display(inline-block);
      @include position(relative, 0, 0, 0, 0);
      @include widthSize(1.4rem);
      @include heightSize(1.4rem);
      &:hover {
        cursor: pointer;
      }
    }
    .op_plus:before,
    .op_plus:after {
      display: block;
      content: '';
      @include backColor($fontColor);
      @include position(absolute, 1.2rem, 0, 0, 0);
      @include widthSize(1.4rem);
      @include heightSize(0.1rem);
    }
    .plus:before {
      @include widthSize(0.1rem);
      @include heightSize(1.4rem);
      top: 5px;
      left: 7px;

      @include max-screen($breakPoint-mobile) {
        top: 0.5rem;
      }
    }
  }

  .j-answer {
    &.j-anDis {
      @include display(none);
    }
    .answer-text {
      @include backColor(#e4ede4);
      border-radius: 0 0 1.5rem 1.5rem;
      @include padding(2rem 3rem 2.5rem);
      line-height: 2;
      @include fz(16, 400);

      @include max-screen($breakPoint-mobile) {
        line-height: 1.6;
        @include padding(2.5rem);
      }
    }
  }
}

/* j-recommend */
.j-recommend {
  @include margin(0 auto 16rem);
  //smt
  @include max-screen($breakPoint-mobile) {
    @include margin(0 auto 8rem);
  }
}

.j-recommend-title {
  @extend.j-flow-title;
  margin-bottom: -1rem;
}

#recommend {
  @include flex(flex, center, row, flex-start);
  @include backColor(#fff6e7);
  @include widthSize(100%);
  @include margin(0 auto);
  @include padding(7rem 0);
  //smt
  @include max-screen($breakPoint-mobile) {
    @include display(block);
    @include padding(6rem 0 3.5rem);
  }

  .j-re-item {
    @include margin(0 0 2.5rem);
    //smt
    @include max-screen($breakPoint-mobile) {
      @include flex(flex, flex-start, row, flex-start);
      @include widthSize(90%);
      @include margin(0 auto 2rem);
    }

    .j-re-image {
      @include widthSize(6rem);
      @include margin(0 auto);

      @include max-screen($breakPoint-mobile) {
        @include widthSize(5.5rem);
        @include margin(0 1.5rem 0 0);
      }

      img {
        object-fit: cover;
        @include widthSize(100%);
        @include heightSize(100%);
      }
    }
    p {
      text-align: center;
      line-height: 1.8;
      @include fz(18, 300);

      //smt
      @include max-screen($breakPoint-mobile) {
        text-align: left;
        line-height: 1.8;
        @include fz(18, 300);
        letter-spacing: -0.05rem;
      }
    }
  }
}

/* j-form */
.j-form {
  @include padding(0 0 10rem);
  border-bottom: 1px solid #f5f5f5;

  //smt
  @include max-screen($breakPoint-mobile) {
    @include padding(0 0 6rem);
  }
}

.j-form-title {
  @extend.j-flow-title;
  @include margin(0 0 8rem);

  //smt
  @include max-screen($breakPoint-mobile) {
    @include margin(0 0 6rem);
  }
}

.j-fo-top {
  @include flex(flex, center, row, flex-start);
  button {
    @include backColor($white);
    @include fz(20, 300);
    font-family: $notoSerif;
    border: none;
    @include margin(0 2.5rem 7rem);
    @include widthSize(13rem);
    @include padding(0 0 4rem 0);
    border-bottom: 3px solid #969696;
    color: #969696;
    @include cursor();

    //smt
    @include max-screen($breakPoint-mobile) {
      @include fz(16, 300);
      @include margin(0 2rem 7rem);
      @include padding(0 0 2.5rem 0);
      @include widthSize(11rem);
    }
  }

  .j-bu-success {
    border-bottom: 3px solid $fontColor;
    @include color($fontColor);
  }
}

form {
  @include widthSize(86rem);
  @include margin(0 auto);

  //smt
  @include max-screen($breakPoint-mobile) {
    @include widthSize(90%);
  }

  .j-formIn {
    @include padding(0 0 4rem 0);
    border-bottom: 1px solid #f5f5f5;
    @include margin(0 0 4rem 0);

    //smt
    @include max-screen($breakPoint-mobile) {
      border: none;
      @include padding(0);
      @include margin(0 0 3rem 0);
    }

    .j-inner {
      @include flex(flex, space-between, row, center);

      //smt
      @include max-screen($breakPoint-mobile) {
        @include display(block);
      }
    }

    .errorMe {
      @include margin(3rem 0 0 25rem);
      @include color($red);
    }

    label {
      @include fz(16, 300);
      @include widthSize(14rem);

      //smt
      @include max-screen($breakPoint-mobile) {
        @include fz(15, 300);
        @include widthSize(100%);
        @include margin(0 0 2rem);
      }
    }

    span {
      @include widthSize(5rem);
      @include fz(12, 400);
      @include padding(0.8rem 0);
      @include margin(0 6rem 0 0);
      @include color($red);
      border: 1px solid $red;
      text-align: center;

      //smt
      @include max-screen($breakPoint-mobile) {
        @include widthSize(100%);
        @include padding(0 1.5rem 0);
        @include margin(0 0 0 1.5rem);
        @include fz(14, 400);
        border: none;
        border-left: 1px solid $red;
      }
    }

    input {
      outline: none;
      @include heightSize(6rem);
      @include widthSize(61rem);
      @include backColor(#f5f5f5);
      @include margin(0 0 0 auto);
      @include padding(2rem);
      border: none;
      @include fz(15, 300);

      //smt
      @include max-screen($breakPoint-mobile) {
        @include widthSize(100%);
        @include margin(1.8rem 0 0);
      }
    }

    input:-webkit-autofill {
      box-shadow: 0 0 0px 1000px #f5f5f5 inset;
    }

    textarea {
      outline: none;
      @extend input;
      @include heightSize(20rem);
      resize: none;
    }

    .error {
      @include backColor(rgb(255, 246, 246));
    }
  }

  #send {
    @include flex(flex, space-between, row, center);
    @include widthSize(100%);
    @include padding(0 0 4rem 0);
    border-bottom: 1px solid #f5f5f5;
    @include margin(0 0 4rem 0);

    @include max-screen($breakPoint-mobile) {
      border: none;
      @include padding(0 0 2rem 0);
      @include margin(0 0 2rem 0);
    }

    label {
      @include fz(16, 300);
      @include display(inline-block);
      @include widthSize(25rem);
    }

    input[type='radio'] {
      display: none;
    }

    .j-label {
      @include fz(16, 300);
      @include widthSize(18rem);
      @include margin(0 2.5rem 0 0);
      text-align: center;
      @include heightSize(6rem);
      line-height: 5.5rem;
      border-radius: 1rem;
      @include cursor();
      @include backColor(#f5f5f5);
      @include color(#969696);

      //smt
      @include max-screen($breakPoint-mobile) {
        @include widthSize(100%);
        @include margin(1.8rem auto 1.2rem);

        &:last-child {
          @include margin(1.2rem auto 0);
        }
      }
    }

    .j-la-active {
      @include border();
      @include backColor($white);
      @include color($fontColor);
    }
  }

  button {
    @include margin(4rem auto 0);
    @include widthSize(34rem);
    @include heightSize(7rem);
    @include fz(18, 400);
    font-family: $notoSerif;
    line-height: 7rem;
    border: none;
    //smt
    @include max-screen($breakPoint-mobile) {
      @include fz(16, 300);
      @include margin(2rem auto 0);
    }
  }

  .btnEr {
    @include backColor(#f5f5f5);
  }

  .btnSu {
    @include backColor($white);
    @include color($fontColor);
    @include cursor();
    @include border();
  }

  .j-formIn:last-child {
    border: none;
  }
}

/* footer */
footer {
  @include margin(5rem auto 16rem);
  @include flex(flex, center, row, center);
  @include widthSize(100%);

  //smt
  @include max-screen($breakPoint-mobile) {
    @include margin(5rem auto);
  }

  div {
    @include widthSize(3.5rem);
    @include margin(0 4rem);

    //smt
    @include max-screen($breakPoint-mobile) {
      @include widthSize(3rem);
      @include margin(0 3rem);
    }

    img {
      @include widthSize(100%);
    }
  }
}

//ローディング部分の回転エフェクト定義
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//ローディング画面の背景部分
#loading {
  @include widthSize(100vw);
  @include heightSize(100vh);
  @include backColor($white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

//ローディング回転部分
#loading-main:after,
#loading-main:before {
  content: '';
  @include display(block);
  @include widthSize(100%);
  @include heightSize(100%);
  margin-left: -50%;
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 110%;
}

#loading-main {
  @include display(block);
  @include widthSize(30px);
  @include heightSize(30px);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 105;
}
#loading-main:after {
  -webkit-animation: loading 0.75s linear infinite;
  animation: loading 0.75s linear infinite;
  border: 1px solid transparent;
  border-top-color: #666;
}
#loading-main:before {
  border: 1px solid rgba(51, 51, 51, 0.15);
}
